
.sideBar{
    -fx-background-color: #E7DDFF;
}
.anchorReport{
    -fx-background-color: rgba(255, 255, 255, 0.5);
}
.chartVBox{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 15;
}
.topCustomerPrice{
    -fx-background-color: #E2EAF4;
    -fx-background-radius: 15;
}
.low_Stock{
    -fx-background-color: #E2EAF4;
    -fx-background-radius: 15;
}
.reportHBox:hover{
    -fx-cursor: hand;
}
.productRoot {
    -fx-background-color: #f7f7f7;
    -fx-padding: 15;
}

/* TableView styling */
.table-view {
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-radius: 10;
    -fx-font-size: 13px;
    -fx-table-cell-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header {
    -fx-background-color: #B597E8; /* purple header */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-alignment: CENTER;
    -fx-padding: 5 0 5 0;
}

.table-view .cell {
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 5 10 5 10;
}

/* Buttons */
.button {
    -fx-background-color: #B597E8; /* purple */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 8;
    -fx-padding: 8 16 8 16;
}

.button:hover {

    -fx-cursor: hand;
}

/* Search field */
.text-field {
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #ccc;
    -fx-padding: 5 10 5 10;
    -fx-font-size: 13px;
}

.text-field:focused {
    -fx-border-color: #6C63FF;
    -fx-border-width: 2;
}

/* Table row hover effect */
.table-row-cell:hover {
    -fx-background-color: rgba(108, 99, 255, 0.1);
}

/* Specific sections (optional) */
.addButtonPane {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-spacing: 10;
}



.chart-series-area-fill {
    -fx-fill: rgba(181, 151, 232, 0.4);   
}

.chart-series-area-line {
    -fx-stroke:  #B597E8;               
    -fx-stroke-width: 2px;
}

